#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <200>; };

&mt {
};

/ {
    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&kp LEFT_WIN    &kp Q  &kp W  &kp F         &kp P             &kp B      &kp J        &kp L                 &kp U      &kp Y    &kp GRAVE  &kp RIGHT_WIN
&mt LCTRL APOS  &kp A  &kp R  &kp S         &kp T             &kp G      &kp M        &kp N                 &kp E      &kp I    &kp O      &mt RCTRL SEMI
&kp LEFT_ALT    &kp Z  &kp X  &kp C         &kp D             &kp V      &kp K        &kp H                 &kp COMMA  &kp DOT  &kp FSLH   &kp RIGHT_ALT
                              &lt 2 ESCAPE  &mt LSHIFT SPACE  &lt 1 TAB  &lt 3 ENTER  &mt RSHIFT BACKSPACE  &lt 4 DEL
            >;
        };

        Sym {
            bindings = <
&kp LEFT_WIN  &kp EXCL   &kp AT            &kp HASH         &kp DOLLAR            &kp PERCENT    &kp CARET         &kp AMPS               &kp ASTRK        &kp TILDE          &kp EQUAL      &kp RIGHT_WIN
&kp LCTRL     &kp MINUS  &kp LEFT_BRACKET  &kp LEFT_BRACE   &kp LEFT_PARENTHESIS  &kp LESS_THAN  &kp GREATER_THAN  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &kp PLUS       &mt RCTRL PIPE
&kp LEFT_ALT  &kp CLCK   &trans            &kp LS(LC(TAB))  &trans                &trans         &trans            &trans                 &kp RC(TAB)      &trans             &kp BACKSLASH  &kp RIGHT_ALT
                                           &lt 2 ESCAPE     &mt LSHIFT SPACE      &lt 1 TAB      &lt 3 ENTER       &mt RSHIFT BACKSPACE   &lt 4 DELETE
            >;
        };

        Fn_Num {
            bindings = <
&kp LEFT_WIN  &kp F12  &kp F7  &kp F8        &kp F9            &trans     &kp PLUS     &kp NUMBER_7          &kp NUMBER_8  &kp NUMBER_9  &kp ASTRK  &kp RIGHT_WIN
&kp LCTRL     &kp F11  &kp F4  &kp F5        &kp F6            &trans     &kp EQUAL    &kp NUMBER_4          &kp NUMBER_5  &kp NUMBER_6  &kp N0     &mt RCTRL DOT
&kp LEFT_ALT  &kp F10  &kp F1  &kp F2        &kp F3            &trans     &kp MINUS    &kp NUMBER_1          &kp NUMBER_2  &kp NUMBER_3  &kp SLASH  &kp RIGHT_ALT
                               &lt 2 ESCAPE  &mt LSHIFT SPACE  &lt 1 TAB  &lt 3 ENTER  &mt RSHIFT BACKSPACE  &lt 4 DEL
            >;
        };

        Mouse_Nav {
            bindings = <
&trans  &trans  &trans  &trans     &trans                &trans     &kp C_VOL_UP  &kp HOME                   &kp PSCRN     &kp PG_UP  &kp SLCK         &trans
&trans  &trans  &trans  &trans     &trans                &trans     &kp C_MUTE    &kp LEFT                   &kp UP        &kp RIGHT  &kp INS          &trans
&trans  &trans  &trans  &trans     &trans                &trans     &kp C_VOL_DN  &kp END                    &kp DOWN      &kp PG_DN  &kp PAUSE_BREAK  &trans
                        &lt 2 ESC  &mt LEFT_SHIFT SPACE  &lt 1 TAB  &lt 3 ENTER   &mt RIGHT_SHIFT BACKSPACE  &lt 4 DELETE
            >;
        };

        Boot {
            bindings = <
&bootloader  &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &bootloader
&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &bt BT_CLR
&sys_reset   &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &sys_reset
                                         &trans        &none         &trans        &trans        &none         &trans
            >;
        };
    };
};
