#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <200>; };

&mt { quick_tap_ms = <200>; };

/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        // zmk,matrix_transform = &extra_keys_transform;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        home {
            bindings = <&kp HOME>;
            key-positions = <19 37>;
            layers = <2>;
        };

        pg_up {
            bindings = <&kp PG_UP>;
            key-positions = <20 37>;
            layers = <2>;
        };

        pg_dn {
            bindings = <&kp PG_DN>;
            key-positions = <21 37>;
            layers = <2>;
        };

        end {
            bindings = <&kp END>;
            key-positions = <22 37>;
            layers = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        text {
            bindings = <
&trans  &kp Q  &kp W  &kp F   &kp P      &trans                &trans       &kp L            &kp U      &kp Y    &kp GRAVE  &trans
&trans  &kp A  &kp R  &kp S   &kp T      &trans                &trans       &kp N            &kp E      &kp I    &kp O      &trans
&trans  &kp Z  &kp X  &kp C   &kp D      &trans                &trans       &kp H            &kp COMMA  &kp DOT  &kp FSLH   &trans
                      &trans  &kp LCTRL  &mt LEFT_SHIFT SPACE  &lt 1 ENTER  &lt 2 BACKSPACE  &trans
            >;
        };

        num_sym {
            bindings = <
&trans  &kp N7        &kp N8  &kp N9  &kp B      &trans            &trans       &kp J            &kp MINUS         &kp EQUAL          &kp N0         &trans
&trans  &kp N4        &kp N5  &kp N6  &kp G      &trans            &trans       &kp M            &kp ESC           &kp APOS           &kp SEMI       &trans
&trans  &kp NUMBER_1  &kp N2  &kp N3  &kp V      &trans            &trans       &kp K            &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH  &trans
                              &trans  &kp LCTRL  &mt LSHIFT SPACE  &lt 1 ENTER  &lt 2 BACKSPACE  &trans
            >;
        };

        nav_mouse {
            bindings = <
&trans  &trans    &trans  &trans         &trans         &trans            &trans  &kp LC(RS(TAB))  &kp RS(TAB)  &kp PRINTSCREEN    &sys_reset   &trans
&trans  &kp LGUI  &trans  &kp LALT       &kp TAB        &trans            &trans  &kp LEFT         &kp UP       &kp DOWN           &kp RIGHT    &trans
&trans  &trans    &trans  &kp LC(LS(C))  &kp LC(LS(V))  &trans            &trans  &kp C_VOLUME_UP  &kp K_MUTE   &kp C_VOLUME_DOWN  &bootloader  &trans
                          &trans         &kp LCTRL      &mt LSHIFT SPACE  &trans  &trans           &trans
            >;
        };
    };
};
