#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&mt { quick_tap_ms = <200>; };

&lt { quick_tap_ms = <200>; };

&mmv {
};

/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        // zmk,matrix_transform = &extra_keys_transform;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        printscreen {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <37 4>;
        };

        tab {
            bindings = <&kp LC(TAB)>;
            key-positions = <37 16>;
        };

        tab_prev {
            bindings = <&kp LS(LC(TAB))>;
            key-positions = <37 15>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        text {
            bindings = <
&trans  &kp Q  &kp W  &kp F     &kp P      &kp B            &kp J            &kp L        &kp U      &kp Y    &kp GRAVE  &trans
&trans  &kp A  &kp R  &kp S     &kp T      &kp G            &kp M            &kp N        &kp E      &kp I    &kp O      &trans
&trans  &kp Z  &kp X  &kp C     &kp D      &kp V            &kp K            &kp H        &kp COMMA  &kp DOT  &kp FSLH   &trans
                      &kp LALT  &kp LCTRL  &mt LSHFT SPACE  &lt 1 BACKSPACE  &lt 2 ENTER  &trans
            >;
        };

        num_sym {
            bindings = <
&trans  &kp N6  &kp N7  &kp N8        &kp N9     &kp N0            &kp LWIN         &kp PLUS     &kp MINUS         &kp EQUAL          &kp RALT       &trans
&trans  &kp N1  &kp N2  &kp N3        &kp N4     &kp N5            &kp RA(TAB)      &kp TAB      &kp ESCAPE        &kp APOS           &kp SEMI       &trans
&trans  &trans  &trans  &trans        &trans     &trans            &kp RA(F4)       &kp DELETE   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH  &trans
                        &kp LEFT_ALT  &kp LCTRL  &mt LSHIFT SPACE  &lt 1 BACKSPACE  &lt 2 ENTER  &trans
            >;
        };

        nav_mouse {
            bindings = <
&trans  &kp HOME  &kp PG_DN  &kp PAGE_DOWN  &kp END    &trans  &trans  &trans           &trans             &trans      &trans  &trans
&trans  &kp LEFT  &kp UP     &kp DOWN       &kp RIGHT  &trans  &trans  &kp C_VOLUME_UP  &kp C_VOLUME_DOWN  &kp C_MUTE  &trans  &trans
&trans  &trans    &trans     &trans         &trans     &trans  &trans  &trans           &trans             &trans      &trans  &trans
                             &trans         &trans     &trans  &trans  &trans           &bt BT_CLR_ALL
            >;
        };
    };
};
